*~
*.a
*.la
*.core
*.d
*.dylib
*.moc
*.o
*.obj
*.orig
*.swp
*.rej
*.so
*.so.*
*.pbxuser
*.mode1
*.mode1v3
*_pch.h.cpp
*_resource.rc
.#*
*.*#
*_wrapper.sh
*_wrapper.bat
wrapper.sh
wrapper.bat
core
.qmake.cache
.qmake.vars
.device.vars
*.prl
tags
.DS_Store
*.debug
Makefile*
!qmake/Makefile.win32*
!qmake/Makefile.unix
*.prl
*.app
*.pro.user*
*.qmlproject.user*
*.gcov
*.gcda
*.gcno
moc_*.cpp
ui_*.h
qrc_*.cpp
*.Debug
*.Release
*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.sln
*.suo
*.vcproj
*vcproj.*.*.user
*.ncb
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.exe.embed.manifest
*.exe_manifest.rc
*.exe_manifest.res
.DS_Store
.pch
.rcc
*.app
*.autosave
*.qmlproject.user
*.qmlproject.user.*
CMakeLists.txt.user
